.img-fluid{
  width: 100%;
  object-fit: cover;
}

.etiquetas{
  list-style: none;
  display:flex;
  flex-wrap: wrap;

  li{

    padding: 8px;
    color: white;
    margin-bottom: 8px;
    &:not(:last-of-type){
      margin-right: 15px;
    }
  }

}

button.btn-sm.show{
  display: none;
  @media screen and (max-width:992px) {
    display: block;
  }
}


.nav-tabs{
  justify-content: space-evenly;
  @media screen and (max-width:768px) {
    font-size: 14px;
    li{

      a{

        padding: 5px;
      }
    }
  }
}

.tab-pane{
  max-width: 100%;
  &:last-of-type{
    @media screen and (max-width:768px) {

      overflow: scroll;
    }
  }
}

.info{

  .imagen{
    @media screen and (max-width:768px){
      margin-bottom: 15px;
    }
  }
}
